<%- include ('partials/header.ejs') %>

        <div class="container">
            <div class="pergunta-container">
                <br>
                <h1>
                    <%= pergunta.titulo %>
                </h1>
                <br>
                <p>
                    <%= pergunta.descricao %>
                </p>
            </div>
            
            <br>
            <div class="card-footer">
                <h3>Respostas</h3>
                <br>
                <% respostas.forEach(resposta => { %>
                <p><%= resposta.corpo %></p>
                <small>Usuário em <%= resposta.createdAt %></small>
                <br>
                <hr>
                <% }) %>
                <form
                    method="POST"
                    action="/responder">
                    
                    <p class="std-text">
                        Digite sua resposta
                    </p>

                    <textarea
                        class="form-control"
                        name="corpo"
                        placeholder="Tente adicionar o máximo de detalhes possíveis à sua resposta"></textarea>
                    
                    <input type="hidden"
                        name="pergunta"
                        value="<%= pergunta.id %>">

                    <br>

                    <button type="submit" class="btn btn-success">Responder</button>
                </form>
            </div>
            
        </div>

    <%- include ('partials/footer.ejs') %>